[user]
    name = Michael Hu
    email = michaelanhu@gmail.com
[alias]
    co = checkout
    cob = checkout -b
    diffh = diff HEAD^ HEAD
    s = status
    b = branch
    l = log
[pull]
    rebase = true
